label{
    padding-bottom: 4px;
}
.container {
    max-width: 80%;
    max-height: 75%;
    margin: 0 auto;
    background-color: #9acdec;
    padding: 20px;
    border-radius: 8px;
    /* --shadow: rgb(112 200 235 / 40%) 5px 5px, rgba(46, 185, 240, 0.3) 10px 10px, rgba(46, 162, 240, 0.2) 15px 15px, rgba(71, 209, 243, 0.1) 20px 20px, rgba(1, 247, 255, 0.05) 25px 25px; */
    /* --shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    --shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: var(--shadow);
    font-family: Arial, sans-serif;
}

.red {
   background-color: rgb(183, 34, 34) !important;
}
.green {
   background-color: green !important;
}
.btn {
   margin: 10%;
}
.textareastyle {
   width: 100%;
   max-width: 100%;
   min-width: 10%;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: none;
   overflow-y: scroll;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.input-group input[type="text"] {
    padding: 10px;
    flex: 1;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.input-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.arrow {
    font-size: 20px;
}
